body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

textarea {
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

button {
    display: block;
    margin: 10px 0;
}

input[type='file'] {
    margin-bottom: 10px;
}